#clock-container {
    
}

#clock-container #clock {
    font-size: 100px;
    margin-bottom: 20px;
}

#clock-container #weather {
    font-size: 20px;
    margin-top: 20px;
}

#quote-container {
    height: 150px;
    width: 500px;
}

#quote-container #quote {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#todo-container{}

#todo-container #todo-form {
   
}
#todo-form input:focus {
    outline: none; 
    border-bottom: 1px solid red;
    transition: all ease 1s;
}

#todo-form input{
    width: 500px;
    height: 50px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    color: white;
}

#todo-form input::placeholder{
    
}