


#header-container{

}
#main-container{

    flex-direction: column;
    justify-content: center;
}
#footer-container{}

.main {
    text-align: center;
    align-content: center;
    justify-content: center;
}

.center {
    padding-top: 20px;
    padding-bottom: 20px;
}

.hidden {
    display: none;
}
