

#wrap{
    margin: 0;
    padding: 0;
    width: 100%;
    position: inherit;
}

#header{
    width: 100%;
    height: 400px;
    background: aqua;
}

#content{
    width: 100%;
    height: 400px;
    background: black;   
}

#footer{
    width: 100%;
    height: 400px;
    background: aquamarine;
}