/*
selector {
    property : value;
}
*/

/* all */
* {
    color : green;
}

/* tag */
li {
    color : blue;
}

/* id */
#special {
    color : pink;
}

li #special {
    color : pink;
}

/* class */
.red {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

button:hover {
    color: red;
    background-color: beige;
}

a[href]{
    color: purple;
}

a[href="naver.com"] {
    color : purple;
}
a[href$=".com"] {
    color : purple;
}