<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/cotent/content.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>

    <div id="wrap">

        <div id="header">

            
            <div id="header-banner">

            </div>
            

        </div>

        <div id="content">
            <div id="content-container-one">
                <div id="content-top">

                </div>
    
                <div id="content-middle">
                    
                </div>
    
                <div id="content-bottom">
    
                </div>

            </div>

            <div id="content-container-two">

            </div>
            
           
        </div>
        
        <div id="footer">
            
        </div>

    </div>

    
    
</body>
</html>